html {
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  max-width: 200px;
}

.panel-nav {
  background-color: #ddd;
}

.search-icon {
  left: .3em;
}

.panel-near {
  background-color: #efefef;
}

.card {
  background-color: #fff;
  border-radius: 3px;
}

.table-wrapper {
  min-width: 45em;
}

@media only screen and (min-width: 76em) {

  .table-wrapper {
    overflow: visible;
  }

}
